<link rel="stylesheet" href="style.scss" />
<main class="container">
    <nav class="menu">
        <ul>
            <li>{{> link/link href="../auth/auth.hbs" text="Войти" }}</li>
            <li>{> link/link href="../auth/registration.hbs" text="Зарегистрироваться" }}</li>
            <li>{{> link/link href="../profile/profile.hbs" text="Профиль" }}</li>
            <li>{{> link/link href="../auth/change-password.hbs" text="Поменять пароль" }}</li>
            <li>{{> link/link href="../errors/page500.hbs" text="500" }}</li>
            <li>{{> link/link href="../errors/page404.hbs" text="404" }}</li>
        </ul>
    </nav>
</main>
