<main class="container">
    <section class="menu">
        {{> link/link href="../auth/auth.hbs" text="Войти" }}
        {{> link/link href="../registration/registration.hbs" text="Зарегистрироваться" }}
        {{> link/link href="../profile/profile.hbs" text="Профиль" }}
        {{> link/link href="../change/change-password.hbs" text="Поменять пароль" }}
        {{> link/link href="../500/page500.hbs" text="500" }}
        {{> link/link href="../404/page404.hbs" text="404" }}
    </section>
</main>