<link rel="stylesheet" href="style.scss" />
<main class="container">
    <form name="change-password" class="change-password">
        {{> title/title class="change-password__title" title="Смена пароля" }}
        {{> input/auth
                class="change-password"
                type="password"
                name="oldPassword"
                label="Старый пароль"
                value="ivanivanov"
        }}
        {{> input/auth
                class="change-password"
                type="password"
                name="newPassword"
                label="Новый пароль"
                value="ivanivanov"
        }}
        {{> input/auth
                class="change-password"
                type="password"
                name="repPassword"
                label="Повторите новый пароль"
                value="ivanivanov"
        }}
        {{> buttons/submit text="Сохранить" }}
        {{> link/link href="../profile/profile.hbs" text="отмена" }}
    </form>
</main>
