<link rel="stylesheet" href="style.scss" />
<main class="container">
    <section class="error">
        {{> title/title class="error__title" title="500" }}
        {{> text/text class="error__text" text="Мы уже фиксим" }}
        {{> link/link href="/" text="Назад к чатам" }}
    </section>
</main>
