$primary-color: #1E1E1E;
$shadow: 0 0 6px rgb(0 0 0 / 14%);

$gray: #999;
$light-gray: #A6A6A6;
$secondary-light-gray: #EFEFEF;
$tertiary-light-gray: #F8F8F8;
$white: #FFF;

$blue: #3369F3;
$light-blue: #80A4FF;
$secondary-light-blue: #E4EDFD;

$red: #F00;
