<link rel="stylesheet" href="style.scss" />
<main class="container">
    <form name="registration" class="registration">
        {{> title/title class="registration__title" title="Регистрация" }}
        {{> input/auth
                class="registration"
                type="text"
                name="email"
                label="Почта"
                value="pochta@yandex.ru"
                errorText=""
        }}
        {{> input/auth
                class="registration"
                type="text"
                name="login"
                label="Логин"
                value="ivanivanov"
                errorText=""
        }}
        {{> input/auth
                class="registration"
                type="text"
                name="first_name"
                label="Имя"
                value="Иван"
                errorText=""
        }}
        {{> input/auth
                class="registration"
                type="text"
                name="second_name"
                label="Фамилия"
                value="Иванов"
                errorText=""
        }}
        {{> input/auth
                class="registration"
                type="tel"
                name="phone"
                label="Телефон"
                value="+7 (909) 967 30 30"
                errorText=""
        }}
        {{> input/auth
                class="registration"
                type="password"
                name="password"
                label="Пароль"
                value="ivanivanov11"
                errorText=""
        }}
        {{> input/auth
                class="registration"
                type="password"
                name="password-check"
                label="Пароль (еще раз)"
                value="ivanivanov11"
                errorText="Пароли не совпадают"
        }}
        {{> buttons/submit text="Зарегистрироваться" }}
        {{> link/link href="../auth/auth.hbs" text="Войти" }}
    </form>
</main>