<main class="container">
    <nav class="menu">
        <ul>
            <li>{{> link/link href="pages/auth/auth.hbs" text="Войти" }}</li>
            <li>{{> link/link href="pages/auth/registration.hbs" text="Зарегистрироваться" }}</li>
            <li>{{> link/link href="pages/profile/profile.hbs" text="Профиль" }}</li>
            <li>{{> link/link href="pages/auth/change-password.hbs" text="Поменять пароль" }}</li>
            <li>{{> link/link href="pages/chat/chat.hbs" text="Чат" }}</li>
            <li>{{> link/link href="pages/errors/page500.hbs" text="500" }}</li>
            <li>{{> link/link href="pages/errors/page404.hbs" text="404" }}</li>
        </ul>
    </nav>
</main>
